{{>navbar}}


<div style="display: flex;">
{{>sidebar}}

<div style="margin-top: 70px; width:100%">
 
 <form action="/admin/addNewCategory" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label class="form-label" for="form3Example1c">Category Name</label>
        <input type="text" style="color: white" id="form3Example1c" class="form-control" name="categoryName" required>
        <label for="exampleInputEmail1" class="form-label"> Discription</label>
        <input type="text" style="color: white"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="description" required>
    </div>


    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Stock</label>
        {{!-- <input type="text" class="form-control" id="exampleInputPassword1" name="status"> --}}
        <select class="form-select" aria-label="Default select example" name="stock" required >
            <option selected >select</option>
            <option value="In Stock">In Stock</option>
            <option value="Out of Stock">Out of Stock</option>
        </select>

    </div>
    <img src="/images/{{products.image.[0]}}" alt="" style="height:auto;width:50px" id="imgView"> 
    <input type="file"  name="image" onchange="viewImage(event)" class="form-control-file mt-2" id="Image">
    {{#if categorystatus}}
    <div class="alert alert-danger text-center mb-3">{{categorystatus}}</div>
    {{/if}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>        
      

</div>
</div>





<style>
  
</style>





{{>footer}}













<script>
  function viewImage(event) {
    document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
  }
</script>

